<header>
    <nav>
        <a class="logo" href="#">Logo</a>

        <ul class="menu__main">
            <li><a href="#div1">div1</a></li>
            <li><a href="#div2">div2</a></li>
            <li><a href="#div3">div3</a></li>
            <li><a href="#div4">div4</a></li>
            <li><a href="#div5">div5</a></li>
            <li><a href="#div6">div6</a></li>
        </ul>


        <section class="hamburguer__menu">
            <div></div>
            <div></div>
            <div></div>
            <ul class="menu__scroll">
                <li><a href="#div1">div1</a></li>
                <li><a href="#div2">div2</a></li>
                <li><a href="#div3">div3</a></li>
                <li><a href="#div4">div4</a></li>
                <li><a href="#div5">div5</a></li>
                <li><a href="#div6">div6</a></li>
            </ul>

        </section>








        <div class="menu__hover">
            Menu
            <ul class="menu__hover__ul">
                <li>Email</li>
                <li>Telephone</li>
                <li>Address</li>
            </ul>
        </div>
    </nav>

    <div class="bg"></div>


</header>